#title{
    text-align: center ;
    font-family: 'Quicksand', sans-serif;
    color: green;
    font-size: 0.5in;
}

body{
    background-color: #eda306;
}

.search-bar input {
    margin: 10px;
    padding:25px;
    height: 50x;
    width: 400px;
    color: green;
    background-color: #000000;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    border: transparent;
    border-radius: 15px;
    outline: none;
  }

  #placholder{
    color: green
  }
  
  button{
    transition: all 0.25s ease-in-out;
    background-color: #f5ba14;
    border-radius: 25px;
    margin-left: auto;
    margin: right 20px;
    height: 360px;
  width: 260px;
  margin-top: 20px;
  }
  
  
  button:hover {
    transform: scale(1.1);
  }
  
  p{
    font-family: 'Quicksand', sans-serif;
    color: green;
    font-size: 30px;
  }

  img{
    height: 225px;
  width: 225px;
  border-radius: 25px;
  }

  a{
    color: transparent;
  }

  .flex-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    align-content: flex-start; 
    }

    #credits{
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      color: rgb(255, 255, 255);
      font-size: 0.1px;
    }
/* Navigation Bar CSS */
.navbar {
  overflow: hidden;
  background-color: #333; /* Change the background color as desired */
}

.navbar a {
  float: left;
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #black; /* Change the hover background color as desired */
}