#title{
    text-align: center ;
    font-family: 'Quicksand', sans-serif;
    color: green;
    font-size: 0.5in;
}

body{
    background-color: #f5ba14;
}

.search-bar input {
    margin: 10px;
    padding:25px;
    height: 20x;
    width: 400px;
    color: white;
    background-color: #ffd35a;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    border: transparent;
    border-radius: 15px;
    outline: none;
  }

  #placholder{
    color: green;
  }

  button{
    transition: all 0.25s ease-in-out;
    background-color: #EDA306;
    border-radius: 25px;
    margin-left: auto;
    margin: right 20px;
    height: 360px;
  width: 260px;
  margin-top: 20px;
  }
  
  
  button:hover {
    transform: scale(1.1);
  }
  
  p{
    font-family: 'Quicksand', sans-serif;
    color:green;
    font-size: 30px;
  }

  img{
    height: 225px;
  width: 225px;
  border-radius: 25px;
  }

  a{
    color: transparent;
  }
